In [2]:
import pandas as pd

import numpy as np

# What is pandas lib?

- Pandas is open-source Python library which is used for data manipulation and analysis. It consist of data structures and functions to perform efficient operations on data. It is well-suited for working with tabular data such as spreadsheets or SQL tables. It is used in data science because it works well with other important libraries. It is built on top of the NumPy library as it makes easier to manipulate and analyze. Pandas is used in other libraries such as:

Matplotlib for plotting graphs
SciPy for statistical analysis
Scikit-learn for machine learning algorithms.
It uses many functionalities provided by NumPy library.



- Data Cleaning, Merging and Joining: Clean and combine data from multiple sources, handling inconsistencies and duplicates.
- Handling Missing Data: Manage missing values (NaN) in both floating and non-floating point data.
- Column Insertion and Deletion: Easily add, remove or modify columns in a DataFrame.
- Group By Operations: Use "split-apply-combine" to group and analyze data.
- Data Visualization: Create visualizations with Matplotlib and Seaborn, integrated with Pandas.

# Intro to Dataframes

- Dataframes is the main Datastructure in py pandas lib , and we can think of them as tables with sorts of extra functionality . 


A Pandas DataFrame is a two-dimensional table-like structure in Python where data is arranged in rows and columns. It’s one of the most commonly used tools for handling data and makes it easy to organize, analyze and manipulate data. It can store different types of data such as numbers, text and dates across its columns. The main parts of a DataFrame are:

Data: Actual values in the table.
Rows: Labels that identify each row.
Columns: Labels that define each data category.


-> we can aslo say :

- A DataFrame in pandas is basically like a supercharged Excel table inside Python — but with way more power and flexibility.

Here’s the breakdown:

Structure:

Rows → represent records or observations.

Columns → represent variables or features.

Index → labels for each row (can be numbers, dates, or custom IDs).

Key Features:

Can hold different data types in different columns (integers, floats, strings, dates, etc.).

Comes with built-in functions to filter, sort, group, and analyze data.

Works seamlessly with CSV, Excel, SQL, JSON, and many other formats.

Allows vectorized operations — meaning you can perform math or transformations on entire columns at once, much faster than looping.

In [32]:
# we can create our data fram directily 

df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])

# we can also add column names to our data frame

df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns=['a','b','c'])

# we can also add row names to our data frame

df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns=['a','b','c'],index=['row1','row2','row3'])

# we can also make this afrer creation by 

df.index=['1','2','3']
df.columns=['A','B','C']

# without naming it , it will be named as 0,1,2,3,4,5,6,7,8 


# we can also create a data frame from a dictionary
df=pd.DataFrame({'a':[1,2,3],'b':[4,5,6],'c':[7,8,9]})
df.index=['row1','row2','row3']

# where a ,b, c are the column names and the values are the rows

In [20]:
# we  can start to look at things within this data frame

df.head()  # shows the first 5 rows of the dataframe

# head wit default is 5, but we can change it to any number
df.head(2)  # shows the first 2 rows of the dataframe

      a  b  c
row1  1  4  7
row2  2  5  8

In [28]:
df.columns  # shows the column names of the dataframe

df.index  # shows the row names of the dataframe

df # shows the whole dataframe

df.shape  # shows the shape of the dataframe (rows, columns)

(3, 3)

In [33]:
# also one useful thing is to do with dataframes is : 

df.info()  # shows the information about the dataframe, like number of rows, columns, data types, memory usage

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, row1 to row3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      int64
 2   c       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [35]:
# another thing that is useful is to do is :
df.describe()  # shows the statistical summary of the dataframe, like count, mean, std, min, max, etc. for numeric columns

         a    b    c
count  3.0  3.0  3.0
mean   2.0  5.0  8.0
std    1.0  1.0  1.0
min    1.0  4.0  7.0
25%    1.5  4.5  7.5
50%    2.0  5.0  8.0
75%    2.5  5.5  8.5
max    3.0  6.0  9.0

In [39]:
# we also can find the unique values in a column
df.nunique() # shows the number of unique values in each column

# we can also find the unique values in a column
df['a'].unique()  # shows the unique values in column A

array([1, 2, 3])

# loading our data